#root-game {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#root-game canvas {
    min-height: 100vh;
    width: 100%;
}

#root-game .canvas-overlay {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}