#root-settings {
    padding: 2rem;
}

#root-settings h1, 
#root-settings h2 {
    margin: 1.5rem 0;
}

#root-settings .text p {
    margin: 0 0 1rem 0;
}

#root-settings .text p:last-child {
    margin: 0;
}

#root-settings .input-wrapper {
    width: 100%;
    margin: 0 0 1rem 0;
}


#root-settings .restore {
    outline: none;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    color: #fff;
    margin: 1rem 0 0 0;
}