.primary-color {
    color: var(--primary);
}

.primary-background {
    background-color: var(--primary);
}

.secondary-color {
    color: var(--secondary);
}

.secondary-background {
    background-color: var(--secondary);
}

h1.title {
    text-transform: uppercase;
    font-size: 2.5rem;
}

h2.title {
    text-transform: uppercase;
    font-size: 2rem;
}

.text {
    color: #101011;
    font-size: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
}

.default-button {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.25rem;
}

.default-button:active {
    filter: brightness(0.9);
}

.back-button {
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0 0 1rem 0;
}